$fonts: sans-serif;
$text-color: rgb(51,51,51);
$letter-spacing: .05em;
$container-width: 960px;
$orange: rgb(229,90,47);

$light-grey: rgb(204,204,204);
* {
  box-sizing: border-box;
  margin: 0;
}
a {
  color: $light-grey;
}
html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", sans-serif;
}
p {
  color: $text-color;
}
.container {
  display: table-cell;
  vertical-align: middle;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: $container-width;
  background-color: white;

}
.hero-unit {
  padding: 12px;
  width: 100%;
}
.hero-unit h1 {
  font-size: 5em;
  letter-spacing: $letter-spacing;
  margin: .2em 0 .2em 0;
}
.hero-unit p {
  font-size: 16px;
  margin: 0;
}
.hero-unit .lead-in {
  font-size: 18px;
}
.hr {
  border-top: 1px solid $light-grey;
  margin: 12px 60px 12px 60px;
}
.lead-in {
  color: rgb(0,0,0);
  font-size: 16px;
  font-weight: bold;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.showcase {
  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: .22em;
  display: block;
  min-height: 150px;
}
a.showcase {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a.showcase:hover {
  border: 1px solid $orange;
}
.shape {
  position: fixed;
  top: 0;
  right: 550px;
  height: 100%;
  width: 500px;
  margin: 0 auto;
  border-right: 2px solid red;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.shape2 {
  position: fixed;
  top: 0;
  right: 150px;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.text-center {
  text-align: center;
}
.wrapper {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "Rokkitt";
  src: url("../fonts/Rokkitt.otf");
}
@media (max-width: $container-width) {
  .container {
    display: block;
  }
  .content {
    width: 100%;
  }
}